<!DOCTYPE html>
<html>
  <head>
    <!-- removed the title to avoid an error while passing in newPost Object -->
    <title></title>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/formcss.css'>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <body>