<% include partials/pheader.ejs %>

    <h1>Secret Page</h1>
    <img src="" alt="">

    

        <ul style="list-style: none">
            <li><a href="/">to Landing</a></li>
            <li><a href="/posts/new">New Post</a></li>
        </ul>
    </div>

<% include partials/pfooter.ejs %>    
